@import "tailwindcss";

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

.font-cursive {
  font-family: 'Dancing Script', cursive;
}


.html, body{
  background-color: rgb(0, 0, 0);
  font-family: "Outfit", sans-serif;
}