@import "tailwindcss";

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

.font-cursive {
  font-family: 'Dancing Script', cursive;
}


.html, body{
  background-color: rgb(0, 0, 0);
  font-family: "Outfit", sans-serif;
}

html, * {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 10 10"><circle cx="5" cy="5" r="5" fill="white"/></svg>') 5 5, auto;
}
